a {
  text-decoration: none;
}

a.active,
a:hover {
  color: red !important;
  font-weight: 600;
}

a:visited {
  color: inherit;
}

ul {
  display: flex;
}

ul li {
  list-style: none;
  padding: 10px;
  cursor: pointer;
}

li.selected,
li.hidden {
  cursor: default;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 20px;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
}

h2.page-title {
  margin: 0 10px 40px;
}
